[Desktop Entry]
Version=1.0
Type=Application
Name=ALSA Mixer
Comment=alsa-utils
Exec=/usr/bin/alsamixer
Icon=audio-speakers
Terminal=true
StartupNotify=false
Categories=Application;
